body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    margin-left: 2%;
}
.half-width img{
    width: 80%;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 8px;
    color: white;
    font-weight: 700;

}
.bac-img{
    background-image: url(images/top-banner.png);
}